<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.PackageBuilder" version="2.0.2" targetFramework="net48" developmentDependency="true" />
  <package id="ClosedXML" version="0.105.0" targetFramework="net48" />
  <package id="DataGridExtensions" version="2.8.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.1.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.0" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.8.0" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.8.0" targetFramework="net48" />
  <package id="JetBrains.Annotations" version="2025.2.2" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="16.0.18925.20022" targetFramework="net48" />
  <package id="Nice3point.Revit.Build.Tasks" version="3.0.1" targetFramework="net48" developmentDependency="true" />
  <package id="Nice3point.Revit.Extensions" version="2023.1.2" targetFramework="net48" />
  <package id="Nice3point.Revit.Toolkit" version="2023.0.6" targetFramework="net48" />
  <package id="System.Reactive" version="5.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="VitalElement.DataVirtualization" version="0.0.40" targetFramework="net48" />
  <package id="WPF-UI" version="4.0.3" targetFramework="net48" />
  <package id="WPF-UI.Abstractions" version="4.0.3" targetFramework="net48" />
  <package id="ricaun.Revit.UI" version="0.8.0" targetFramework="net48" />
  <package id="ricaun.Revit.UI.StatusBar" version="1.0.0" targetFramework="net48" />
</packages>